<h1><%= project %></h1>
<h2><%= description %></h2>

<h3>Endpoints</h3>
<table>
  <thead>
  <tr>
  <th>Verb</th>
  <th>URL</th>
  <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% routes.each do |r| %>
    <tr>
    <td><%= r[:verb] %></td>
    <td><%= env['HTTP_HOST'] %><%= r[:http_path] %></td>
    <td><%= r[:desc] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if ['integration', 'development'].include? ENV['RACK_ENV'] %>
<p>
<span>ENV array:</span>
  <ul>
    <% ENV.keys.sort.each do |k| %>
      <li><%= k %> = <%= ENV[k] %></li>
    <% end %>
  </ul>

<span>env array:</span>
  <ul>
    <% env.keys.sort.each do |k| %>
      <li><%= k %> = <%= env[k] %></li>
    <% end %>
  </ul>
</p>
<% end %>
